// ##################################################################
// Parameters
// ##################################################################

// Project

params.project_name = 'apsim_hpc'

// Data

params.output = 'output'

// APSIM data

params.apsimx.module = 'apsimx'

params.apsimx.version = '2022.12.7130.0'

// Jobs
params.use_module = true
params.batch_size = 1

// ##################################################################
// Profiles
// ##################################################################

profiles {
    reports {
        report.enabled = true
        report.overwrite = true
        report.file = "${params.project_name}_report.html"
        
        dag.enabled = true
        dag.file = "${params.project_name}_dag.html"
        dag.overwrite = true

        trace.enabled = true
        trace.file = "${params.project_name}_trace.csv"
        trace.overwrite = true
        trace.fields = 'task_id,process,tag,status,realtime,cpus,%cpu,memory,%mem,peak_rss,peak_vmem'
        trace.raw = true
        trace.sep = ',' 
        
        timeline.enabled = true
        timeline.overwrite = true
        timeline.file = "${params.project_name}_timeline.html"
        timeline.fields = 'task_id,name,status,exit,realtime,%cpu,rss'
    }
}

